<!--<form ng-show="!isAuthenticated" ng-submit="submit()" >-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">帐号</label>-->
        <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="name" placeholder="userid/tel/mail">&ndash;&gt;-->
        <!--<input ng-model="user.username" class="form-control" type="text" name="user" placeholder="Username" />-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">密码</label>-->
        <!--&lt;!&ndash;<input type="password" class="form-control" ng-model="password" placeholder="Password">&ndash;&gt;-->
        <!--<input ng-model="user.password" type="password" class="form-control" name="pass" placeholder="Password" />-->
    <!--</div>-->
    <!--<button type="submit" value="Login" class="btn btn-default">登录</button>-->
    <!--</form>-->
    <!--<input ng-model = 'message'>-->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Angular Authentication</title>
</head>
<body ng-app="myApp">
    <span ng-show="isAuthenticated">{{welcome}}</span>
    <form ng-show="!isAuthenticated" ng-submit="submit()">
        <input ng-model="user.username" class="form-control" type="text" name="user" placeholder="Username" />
        <input ng-model="user.password" class="form-control" type="password" name="pass" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
    <div>{{error}}</div>
    <div ng-show="isAuthenticated">
        <!--<a ng-click="callRestricted()" href="">Shh, this is private!</a>-->
        <br>
        <div>{{message}}</div>
        <a ng-click="logout()" href="">Logout</a>
    </div>
</body>
</html>